---

- name: authservers - authentication servers
  delegate_to: localhost
  xml:
    path: "{{ local_config_path }}"
    xpath: /opnsense/system/authserver[refid/text()="{{ item.0.refid }}"]/{{ item.1.key }}
    value: "{{ item.1.value }}"
    pretty_print: yes
  with_subelements:
    - "{{ opn_authservers }}"
    - settings
  when: opn_authservers is defined

# remove the default empty <authserver/> node remains after configuring the first one

- name: authserver - remove default empty node
  delegate_to: localhost
  xml:
    path: "{{ local_config_path }}"
    xpath: /opnsense/system/authserver[not(node())]
    state: absent
  when: opn_authservers is defined
...
