---
- name: bridges - settings for a bridge
  delegate_to: localhost
  xml:
    path: "{{ local_config_path }}"
    xpath: /opnsense/bridges/bridged[descr/text()="{{ item.0.descr }}"]/{{ item.1.key }}
    value: "{{ item.1.value }}"
    pretty_print: yes
  with_subelements:
    - "{{ opn_bridges }}"
    - settings
  when: opn_bridges is defined


# remove the default empty <bridged/> node remains after configuring the first one

- name: bridges - remove default empty node
  delegate_to: localhost
  xml:
    path: "{{ local_config_path }}"
    xpath: /opnsense/bridges/bridged[not(node())]
    state: absent
  when: opn_bridges is defined
