# vim: tabstop=2 expandtab shiftwidth=2 softtabstop=2 smartindent nu ft=yaml
---

# definition:
# connections cfg
# see opn_Swanctl_defaults var too!
# opn_ipsec:
#   enable: 1  # set to 0 to disable ipsec and explicit to 1 do enable a disabled ipsec service
# opn_Swanctl:
#   Connections:
#     $uuid$:
#       enabled: 1
#       description: s2s tunnel to nowhere
#       ...
#   locals:
#     $uuid$:
#       connection: connection-uuid
#       auth: pubkey
#       ...
#   remotes:
#     $uuid$:
#       enabled: 1
#       connection: connection-uuid
#       ...
#   children:
#     $uuid$:
#       enabled: 1
#       connection: connection-uuid
#       ...
#   Pools:
#     $uuid$:
#       enabled: 1
#       name: SwimmingPool
#       addrs: 10.11.12.0/24
#       dns: 1.1.1.1,8.8.8.8
#   VTIs: # Virtual Tunnel Interfaces
#     $uuid$:
#       enabled: 1
#       reqid: ...
#   SPDs: # Security Policy Database
#     $uuid$:
#       reqid: ...
# opn_IPsec:
#   general:
#     # enable: 1  # ? will this be the replacement for opn_ipsec.enable ?
#     preferred_oldsa: 0
#     disablevpnrules: 0
#     passthrough_networks:
#   charon:
#     threads: 16
#     ikesa_table_size: 32
#     syslog:
#       daemon:
#         log_level: 1
#   keyPairs:
#      $uuid$:  # keyPair
#       name: testkey
#       keyType: rsa
#       publicKey: |
#         -----BEGIN PUBLIC KEY-----
#         ...
#       privateKey: |
#         -----BEGIN PRIVATE KEY-----
#         ...
#       keySize: 4096
#       keyFingerprint: aa:bb:...
#   preSharedKeys:
#     $uuid$:  #  preSharedKey
#       ident: hq.vpn.example.org
#       remote_ident: remote.vpn.example.org
#       keyType: PSK
#       Key: Sup3rC@l1fragilistic3xpialidocious
#       description: you know it or not
#
# ...
# legacy tunnel cfg
# deprecated!
# opn_ipsec:
#   enable: 1  # set to 0 to disable ipsec and explicit to 1 do enable a disabled ipsec service
#   ipsec_asn: 1
#   ipsec_chd: 1
#   ... # other global settings like passthrough_networks, ...
#   ikeids: # dict: ikeid is the key !
#     1:
#       phase1: # dict
#         descr: s2s ...
#         #disabled: 1 # this way you can disable a entry without deleting it; a disabled entry must be enabled by explicitly setting disabled: 0
#         iketype: ikev1
#         interface: wan
#         mode: main
#         protocol: inet
#         ...
#         encryption-algorithm:
#           name: aes
#           keylen: 256
#       phase2_defaults: # common settings for all phase2 elements in this ikeid
#         #disabled: 0 # use this if you like to ensure all tunnels are enabled as long as they are not explicitly disabled
#         pfsgroup: 2
#         lifetime: 3600
#         protocol: esp
#         localid:
#           type: lan
#         encryption-algorithm-options:
#           - name: aes
#             keylen: auto
#           - name: blowfish
#             keylen: auto
#           - name: 3des
#         hash-algorithm-options:
#           - hmac_md5
#           - hmac_sha1
#       phase2: # dict using the uniqid as key (see: http://php.net/uniqid or https://pypi.org/project/uniqid/)
#         615472633b5ee:
#           #disabled: 1 # this way you can disable a phase2 entry without deleting it; a disabled p2 entry must be enabled by explicitly setting disabled: 0
#           descr: ...
#           pinghost: ...
#           ...
#           remoteid:
#             type: network
#             address: 192.168.0.0
#             netbits: 24
#         ...
# ...

- name: ipsec settings
  delegate_to: localhost
  community.general.xml:
    path: "{{ local_config_path }}"
    xpath: "/opnsense/ipsec/{{ item.key }}"
    value: "{{ (item.value == None) | ternary(item.value, (item.value | string)) }}"
    pretty_print: true
  notify: restart ipsec
  with_dict:
    - "{{ opn_ipsec | default({}) }}"
  when:
    - item.key != 'ikeids'
    - not (item.key == 'enable' and item.value|int != 1)

- name: ipsec disable
  delegate_to: localhost
  community.general.xml:
    path: "{{ local_config_path }}"
    xpath: "/opnsense/ipsec/{{ item.key }}"
    state: absent
    pretty_print: true
  notify: stop ipsec
  with_dict:
    - "{{ opn_ipsec | default({}) }}"
  when:
    - item.key == 'enable' and item.value|int != 1

# legacy tunnel settings
- name: ipsec legacy tunnel - loop ikeids for phase1 ...
  ansible.builtin.include_tasks: ipsecphase1.yml
  vars:
    ikeid: "{{ ikeids.key }}"
    ipsecphasevar: "{{ ikeids.value }}"
  with_dict:
    - "{{ opn_ipsec.ikeids | default({}) }}"
  loop_control:
    loop_var: ikeids

# new connection settings
- name: IPsec general settings
  delegate_to: localhost
  community.general.xml:
    path: "{{ local_config_path }}"
    xpath: "/opnsense/OPNsense/IPsec/general/{{ item.key }}"
    value: "{{ (item.value == None) | ternary(item.value, (item.value | string)) }}"
    pretty_print: true
  notify: restart ipsec
  with_dict: "{{ opn_IPsec['general'] }}"
  when:
    - opn_IPsec is defined and opn_IPsec
    - opn_IPsec['general'] is defined and opn_IPsec['general']

- name: IPsec charon settings
  delegate_to: localhost
  community.general.xml:
    path: "{{ local_config_path }}"
    xpath: "/opnsense/OPNsense/IPsec/charon/{{ item.key }}"
    value: "{{ (item.value == None) | ternary(item.value, (item.value | string)) }}"
    pretty_print: true
  notify: restart ipsec
  with_dict: "{{ opn_IPsec['charon'] }}"
  when:
    - opn_IPsec is defined and opn_IPsec
    - opn_IPsec['charon'] is defined and opn_IPsec['charon']
    - not item.key == 'syslog'

- name: IPsec charon syslog daemon settings
  delegate_to: localhost
  community.general.xml:
    path: "{{ local_config_path }}"
    xpath: "/opnsense/OPNsense/IPsec/charon/syslog/daemon/{{ item.key }}"
    value: "{{ (item.value == None) | ternary(item.value, (item.value | string)) }}"
    pretty_print: true
  notify: restart ipsec
  with_dict: "{{ opn_IPsec['charon']['syslog']['daemon'] }}"
  when:
    - opn_IPsec is defined and opn_IPsec
    - opn_IPsec['charon'] is defined and opn_IPsec['charon']
    - opn_IPsec['charon']['syslog']['daemon'] and opn_IPsec['charon']['syslog']['daemon']

- name: IPsec uuid sections ...
  ansible.builtin.include_tasks: ipsecipsec.yml
  vars:
    __ipsec_section: "{{ __ipsec_section_loop.key }}"
    __ipsec_section_listname: "{{ __ipsec_section_loop.value }}"
    __ipsec_section_settings: "{{ opn_IPsec[__ipsec_section] }}"
  with_dict: "{{ opn_IPsec_sections }}"
  loop_control:
    loop_var: __ipsec_section_loop
  when:
    - opn_IPsec is defined and opn_IPsec
    - opn_IPsec[__ipsec_section] is defined and opn_IPsec[__ipsec_section]

- name: Swanctl ...
  ansible.builtin.include_tasks: ipsecswanctl.yml
  vars:
    __swanctl_section: "{{ __swanctl_section_loop.key }}"
    __swanctl_section_listname: "{{ __swanctl_section_loop.value }}"
    __swanctl_section_settings: "{{ opn_Swanctl[__swanctl_section] }}"
  with_dict: "{{ opn_Swanctl_sections }}"
  loop_control:
    loop_var: __swanctl_section_loop
  when:
    - opn_Swanctl is defined and opn_Swanctl
    - opn_Swanctl[__swanctl_section] is defined and opn_Swanctl[__swanctl_section]

...
