---
- name: laggs
  delegate_to: localhost
  community.general.xml:
    path: "{{ local_config_path }}"
    xpath: "/opnsense/laggs/lagg[laggif/text()='{{ item.0.laggif }}']/{{ item.1.key }}"
    value: "{{ (item.1.value == None) | ternary(item.1.value, (item.1.value | string)) }}"
    pretty_print: true
  notify: reconfigure laggs
  with_subelements:
    - "{{ opn_laggs | default([]) }}"
    - settings
...
