---

# see defaults/main.yml

- name: ensure required facts are available
  ansible.builtin.fail:
    msg: opnsense user from ldap sync requires role ansible-opnsense-factse
  when:
    - ansible_local.opnsense.core.product_version is not defined

- name: get current nextuid from saved xml
  delegate_to: localhost
  community.general.xml:
    path: "{{ local_config_path }}"
    xpath: /opnsense/system/nextuid
    content: text
  register: _current_nextuid_matches
  when:
    - not ansible_local.opnsense.core.product_version is version_compare('25.1', '>=')

- name: set default nextuid
  ansible.builtin.set_fact:
    _current_nextuid: "{{ _current_nextuid_matches.matches[0]['nextuid'] | default(2000) | int }}"

- name: construct argv for ldbsearch
  ansible.builtin.set_fact:
    _ldbsearch_argv: "{{ ['ldbsearch'] + opn_sync_users_ldap_args + ['--url='~opn_sync_users_ldap_url, '--scope='~opn_sync_users_ldap_scope, '--basedn='~opn_sync_users_ldap_basedn] + opn_sync_users_ldap_auth + [opn_sync_users_ldap_filter] + (opn_sync_users_ldap_fields.values() | list) }}"  # noqa yaml[line-length]
  no_log: "{{ nolog_ldapusersync | default(true) }}"

- name: fetch user data from ldap  # noqa no-changed-when
  delegate_to: localhost
  ansible.builtin.command:
    argv: "{{ _ldbsearch_argv }}"
  no_log: "{{ nolog_ldapusersync | default(true) }}"
  register: _ldbsearch
  changed_when: false

- name: debug ldbsearch result
  ansible.builtin.debug:
    var: _ldbsearch
    verbosity: 1

- name: parse ldbsearch result to yaml
  delegate_to: localhost
  ansible.builtin.template:
    src: parseldapusers.j2
    dest: "{{ lookup('config', 'DEFAULT_LOCAL_TMP') | dirname }}/opnldapusers-{{ inventory_hostname }}.yml"
    mode: '0600'
  changed_when: false

- name: read ldap users
  ansible.builtin.include_vars:
    file: "{{ lookup('config', 'DEFAULT_LOCAL_TMP') | dirname }}/opnldapusers-{{ inventory_hostname }}.yml"

- name: remove tmp file
  ansible.builtin.file:
    path: "{{ lookup('config', 'DEFAULT_LOCAL_TMP') | dirname }}/opnldapusers-{{ inventory_hostname }}.yml"
    state: absent
  when: opn_sync_users_ldap_remove_tmp | default(false) | bool
  changed_when: false

- name: debug _opnldapusers
  ansible.builtin.debug:
    var: _opnldapusers
    verbosity: 1

- name: assert sane state of _opnldapusers var
  ansible.builtin.assert:
    that:
      - _opnldapusers is not string
      - _opnldapusers is not mapping
      - _opnldapusers is iterable

- name: check if we have configured users in saved xml
  delegate_to: localhost
  community.general.xml:
    path: "{{ local_config_path }}"
    xpath: /opnsense/system/user[scope='user']/name
    count: true
  register: _configured_user_count

- name: debug configured users count from saved xml
  ansible.builtin.debug:
    var: _configured_user_count
    verbosity: 1

- name: read configured users
  when: _configured_user_count.count | int > 0
  block:

    - name: read configured users from saved xml
      delegate_to: localhost
      community.general.xml:
        path: "{{ local_config_path }}"
        xpath: /opnsense/system/user[scope='user']/name
        content: text
      register: _configured_user

    - name: debug configured users from saved xml
      ansible.builtin.debug:
        var: _configured_user
        verbosity: 1

    - name: get configured users as list
      ansible.builtin.set_fact:
        _current_user: "{{ _configured_user.matches | map(attribute='name') }}"

    - name: debug configured users as list
      ansible.builtin.debug:
        var: _current_user
        verbosity: 1

    - name: read user id from xml
      when: ansible_local.opnsense.core.product_version is version_compare('25.1', '>=')
      block:

        - name: read configured user id's from saved xml
          delegate_to: localhost
          community.general.xml:
            path: "{{ local_config_path }}"
            xpath: /opnsense/system/user[scope='user']/uid
            content: text
          register: _configured_user_uid

        - name: debug configured user id's from saved xml
          ansible.builtin.debug:
            var: _configured_user_uid
            verbosity: 1

        - name: get configured user id's as list
          ansible.builtin.set_fact:
            _current_user_uid: "{{ _configured_user_uid.matches | map(attribute='uid') }}"

        - name: debug configured user id's as list
          ansible.builtin.debug:
            var: _current_user_uid
            verbosity: 1

        - name: set nextuid from user id's
          ansible.builtin.set_fact:
            _current_nextuid: "{{ (_current_user_uid | max | int) + 1 }}"

- name: set configured users as empty list
  ansible.builtin.set_fact:
    _current_user: []
  when: _configured_user_count.count | int == 0

- name: debug current nextuid
  ansible.builtin.debug:
    var: _current_nextuid
    verbosity: 1

- name: convert ldap users to opn users
  delegate_to: localhost
  ansible.builtin.template:
    src: ldap2opnusers.j2
    dest: "{{ lookup('config', 'DEFAULT_LOCAL_TMP') | dirname }}/ldap2opnusers-{{ inventory_hostname }}.yml"
    mode: '0600'
  changed_when: false

- name: read ldap users
  ansible.builtin.include_vars:
    file: "{{ lookup('config', 'DEFAULT_LOCAL_TMP') | dirname }}/ldap2opnusers-{{ inventory_hostname }}.yml"

- name: remove tmp file
  ansible.builtin.file:
    path: "{{ lookup('config', 'DEFAULT_LOCAL_TMP') | dirname }}/ldap2opnusers-{{ inventory_hostname }}.yml"
    state: absent
  when: opn_sync_users_ldap_remove_tmp | default(false) | bool
  changed_when: false

- name: append ldap users to opn users
  ansible.builtin.set_fact:
    opn_user: "{{ (opn_user | default([])) + (opn_user_from_ldap | default([])) }}"
  when:
    - opn_user_from_ldap is defined
    - opn_user_from_ldap | length > 0

- name: debug updated opn_user
  ansible.builtin.debug:
    var: opn_user
    verbosity: 1
  when:
    - opn_user_from_ldap is defined
    - opn_user_from_ldap | length > 0

...
