---
- name: virtualip settings that apply to all interfaces with a vhid
  delegate_to: localhost
  xml:
    path: "{{ local_config_path }}"
    xpath: /opnsense/virtualip/vip[vhid/text()="{{ item.1 }}"]/{{ item.0.key }}
    value: "{{ item.0.value }}"
    pretty_print: yes
  with_subelements:
    - "{{ opn_virtualip_all | default([]) }}"
    - vhids

- name: virtualip settings specific for a vhid
  delegate_to: localhost
  xml:
    path: "{{ local_config_path }}"
    xpath: /opnsense/virtualip/vip[vhid/text()="{{ item.0.vhid }}"]/{{ item.1.key }}
    value: "{{ item.1.value }}"
    pretty_print: yes
  with_subelements:
    - "{{ opn_virtualip_specific | default([]) }}"
    - settings

- name: virtualip settings except CARPs
  delegate_to: localhost
  xml:
    path: /tmp/config-{{ inventory_hostname }}.xml
    xpath: /opnsense/virtualip/vip[interface/text()="{{ item.0.interface }}" and subnet/text()="{{ item.0.subnet }}"]/{{ item.1.key }}
    value: "{{ item.1.value }}"
    pretty_print: yes
  with_subelements:
    - "{{ opn_virtualip | default([]) }}"
    - settings
...
