# vim: tabstop=2 expandtab shiftwidth=2 softtabstop=2 smartindent nu ft=yaml
---

{% set ns = namespace(nextuid=(_current_nextuid | int)) %}

opn_user_from_ldap:
{% for user in _opnldapusers %}
  - name: {{ user.name }}
    settings:
{% if user.name not in _current_user %}
      - key: scope
        value: user
      - key: password
        value: "{{ lookup('community.general.random_string', base64=true, length=50) | password_hash('bcrypt') }}"
      - key: uid
        value: {{ ns.nextuid }}
{% set ns.nextuid = ns.nextuid + 1 %}
# {{ ns.nextuid }}
{% endif %}
{% for k, v in user.items() %}
{% if k != 'name' %}
      - key: {{ k }}
        value: {{ v }}
{% endif %}
{% endfor %}
{% endfor %}

{% if ns.nextuid != (_current_nextuid | int) %}
opn_nextid:
  nextuid: {{ ns.nextuid }}
{% endif %}
...
