#jinja2: lstrip_blocks: True
# vim: tabstop=2 expandtab shiftwidth=2 softtabstop=2 smartindent nu ft=yaml
---

{% set ns = namespace() %}
{% set ns.nextuid= ( _current_nextuid | int) %}
{% set ns.vanishedusers = _current_user %}

{% if _opnldapusers is defined and _opnldapusers %}
opn_user_from_ldap:
{% else %}
opn_user_from_ldap: []
{% endif %}
{% for user in _opnldapusers %}
  - name: {{ user.name }}
{% if user.uuid is defined %}
    uuid: {{ user.uuid }}
{% else %}
{% if user.name not in _current_user %}
    uuid: {{ user.name | to_uuid }}
{% endif %}
{% endif %}
    settings:
{% if user.name not in _current_user %}
      - key: scope
        value: user
      - key: password
        value: "{{ lookup('community.general.random_string', base64=true, length=50) | password_hash('bcrypt') }}"
      - key: uid
        value: {{ ns.nextuid }}
{% set ns.nextuid = ns.nextuid + 1 %}
{% else %}
{% set ns.vanishedusers = ns.vanishedusers | difference([user.name]) %}
{% endif %}
{% for k, v in user.items() %}
{% if k not in ['name', 'uuid'] %}
      - key: {{ k }}
        value: {{ v }}
{% endif %}
{% endfor %}
{% endfor %}

{% if opn_sync_users_from_ldap_remove_vanished and ns.vanishedusers %}
opn_unset:
{{ opn_unset | default([]) | to_nice_yaml(indent=2) | indent(2, true) }}
{% for user in ns.vanishedusers %}
  - system/user[name="{{ user }}"]
{% endfor %}
{% endif %}

{% if not ansible_local.opnsense.core.product_version is version_compare('25.1', '>=') %}
{% if ns.nextuid != (_current_nextuid | int) %}
opn_nextid:
  nextuid: {{ ns.nextuid }}
{% endif %}
{% endif %}

...
