---
name: ansible test
on:
  pull_request:
  push:
  schedule:
    - cron: "45 5 * * 2"

jobs:
  build:
    name: ansible test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: install requirements
        run: |
          python -m pip install --upgrade pip
          pip install ansible==10.0.1 ansible-core==2.17.0 lxml cryptography
      - name: run ansible test
        working-directory: ./test
        run: |
          ansible-playbook test.yml
