---
name: ansible alphabetagamma test
on:
  pull_request:
  push:
  schedule:
    - cron: "45 5 * * 2"

jobs:
  build:
    name: ansible test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: install requirements
        run: |
          python -m pip install --upgrade pip
          pip install ansible==12.0.0a4 ansible-core==2.19.0b4 lxml cryptography
      - name: debug versions
        run: |
          echo "which python ..."
          which python
          echo "python -VV ..."
          python -VV
          echo "pip --version ..."
          pip --version
          echo "pip list ..."
          pip list
          echo "ansible --version ..."
          ansible --version
          echo "ansible-config dump --only-changed -t all ..."
          ansible-config dump --only-changed -t all
      - name: run ansible test
        working-directory: ./test
        run: |
          ansible-playbook -e ansible_python_interpreter=$(which python) -v test.yml
